RewriteEngine on

DirectoryIndex index.html

RewriteCond %{REQUEST_URI} ^/api/
RewriteRule (.*) ./api.php [L]

RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
